@import "tailwindcss";

.main{
    background:url(https://img.freepik.com/premium-vector/abstract-background-with-patterns-lines-gray-colors_444390-20031.jpg);
}
#e
{
    font-size: 30vh;
    font-weight: 600;
    cursor: pointer;
}