@import "tailwindcss";

.main{
    background:url(../public/bg.jpg);
    background-position:center;
    background-size: cover;
}
#e
{
    font-size: 30vh;
    font-weight: 600;
    cursor: pointer;
}